<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Pievienot apmeklējumu</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Pievienot apmeklējumu:</h1>



<form th:action="@{/addApmeklejums}"
      th:object="${apmeklejums}" method="POST">


    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{pacients}" />
    Date
    <label>
        <input type="text" th:field="*{date}" />
    </label>
    <br/>
    Descriprion:
    <label>
        <input type="text" th:field="*{description}" />
    </label>
    <br/>

    <input type="submit" value="Save" />
</form>

<br/>

</body>
</html>