<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Pievienot pacientu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}"/>
</head>
<body>
<h1>Pievienot jaunu pacientu:</h1>



<form th:action="@{/addPacients}"
      th:object="${pacients}" method="POST">

    ID:
    <label>
        <input type="text" th:field="*{id}" />
    </label>
    <br/>
    Name:
    <label>
        <input type="text" th:field="*{fName}" />
    </label>
    <br/>
    Surname:
    <label>
        <input type="text" th:field="*{lName}" />
    </label>
    <br/>
    Phone:
    <label>
        <input type="text" th:field="*{number}" />
    </label>
    <br/>
    Address:
    <label>
        <input type="text" th:field="*{address}" />
    </label>
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

</body>
</html>