<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <meta charset="UTF-8"/>
    <title>Apmeklejumi</title>
</head>
<body>

<ul>
    <li><a class="active" href="index">Home</a></li>
    <li><a href="medmasaList">Medmāsas</a></li>
    <li><a href="gim_arstsList">Ģimenes ārsti</a></li>
    <li><a href="pacientsList">Pacienti</a></li>
    <li><a href="apmeklejumsList">Apmeklējumi</a></li>
    <li><a href="dokumentsList">Dokumenti</a></li>
</ul>

<h1>Apmeklejumi</h1>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Datums</th>
            <th>Statuss</th>
            <th>Apraksts</th>
            <th>Pacients</th>
            <th>Medmasa</th>
            <th> </th>
            <th> </th>

        </tr>
        <tr th:each="apmeklejums:${apmeklejumi}">
            <td th:text="${apmeklejums.date}">...</td>
            <td th:text="${apmeklejums.state}">...</td>
            <td th:text="${apmeklejums.description}">...</td>
            <td th:text="${apmeklejums.pacients}">...</td>
            <td th:text="${apmeklejums.medmasa}">...</td>
            <td>
                <form th:action="@{deleteApmeklejums}" method="post">
                    <input type="hidden" name="id" th:value="${apmeklejums.id}"/>
                    <input type="submit" value="Delete" class="button"/>
                </form>
            </td>
            <td>
                <form th:if="${apmeklejums.state == 0}" th:action="@{confirmApm}" method="post">
                    <input type="hidden" name="id" th:value="${apmeklejums.id}"/>
                    <input type="submit" value="Apstiprinat" class="button"/>
                </form>
            </td>

        </tr>
    </table>

</div>
</body>
</html>