<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dokumenti</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>

<ul>
    <li><a class="active" href="index">Home</a></li>
    <li><a href="medmasaList">Medmāsas</a></li>
    <li><a href="gim_arstsList">Ģimenes ārsti</a></li>
    <li><a href="pacientsList">Pacienti</a></li>
    <li><a href="apmeklejumsList">Apmeklējumi</a></li>
    <li><a href="dokumentsList">Dokumenti</a></li>
</ul>

<h1>Dokumenti</h1>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Datums</th>
            <th>Nosaukums</th>
            <th>Adrese</th>
            <th>Doktors</th>
            <th>Saturs</th>
            <th>Pacients</th>
            <th>Ģimenes ārsts</th>
            <th> </th>




        </tr>
        <tr th:each="dokuments:${dokumenti}">
            <td th:text="${dokuments.date}">...</td>
            <td th:text="${dokuments.name}">...</td>
            <td th:text="${dokuments.address}">...</td>
            <td th:text="${dokuments.doctor}">...</td>
            <td th:text="${dokuments.content}">...</td>
            <td th:if="${dokuments.pacients != null}" th:text="${dokuments.pacients.fName}">...</td>
            <td th:if="${dokuments.pacients != null}" th:text="${dokuments.pacients.lName}">...</td>
            <td th:if="${dokuments.gim_arsts != null}" th:text="${dokuments.gim_arsts.fName}">...</td>
            <td th:if="${dokuments.gim_arsts != null}" th:text="${dokuments.gim_arsts.lName}">...</td>
            <td></td>
            <td></td>
            <td>
                <form th:action="@{deleteDokuments}" method="post">
                    <input type="hidden" name="id" th:value="${dokuments.id}"/>
                    <input type="submit" value="Delete" class="button"/>
                </form>
            </td>

        </tr>
    </table>

</div>
</body>
</html>