<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{style.css}">
    <meta charset="UTF-8"/>
    <title>Medicīnas māsas</title>
</head>
<body>

<ul>
    <li><a class="active" href="index">Home</a></li>
    <li><a href="medmasaList">Medmāsas</a></li>
    <li><a href="gim_arstsList">Ģimenes ārsti</a></li>
    <li><a href="pacientsList">Pacienti</a></li>
    <li><a href="apmeklejumsList">Apmeklējumi</a></li>
    <li><a href="dokumentsList">Dokumenti</a></li>
</ul>

<h1>Medicīnas māsas</h1>
<a class="linkButton" href="editMedmasa">Pievienot medicīnas māsu</a>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Tel. numurs</th>
            <th>Adrese</th>
            <th></th>

        </tr>
        <tr th:each="medmasa:${medmasas}">
            <td th:text="${medmasa.fName}">...</td>
            <td th:text="${medmasa.lName}">...</td>
            <td th:text="${medmasa.number}">...</td>
            <td th:text="${medmasa.address}">...</td>
            <td>
                <form th:action="@{deleteMedmasa}" method="post">
                    <input type="hidden" name="id" th:value="${medmasa.id}"/>
                    <input type="submit" value="Delete" class="button"/>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>