<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Place List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addMedmasa">Add Place</a>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Address</th>

        </tr>
        <tr th:each ="medmasa:${medmasas}">
            <td th:text="${medmasa.fName}">...</td>
            <td th:text="${medmasa.lName}">...</td>
            <td th:text="${medmasa.number}">...</td>
            <td th:text="${medmasa.address}">...</td>

        </tr>
    </table>

</div>
</body>
</html>