<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Pacienti</title>
</head>
<body>
<h1>Pacienti</h1>
<a href="addPacients">Pievienot pacientu</a>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Tel. numurs</th>
            <th>Adrese</th>
            <th>Ģimenes ārsts</th>

        </tr>
        <tr th:each="pacients:${pacienti}">
            <td th:text="${pacients.fName}">...</td>
            <td th:text="${pacients.lName}">...</td>
            <td th:text="${pacients.number}">...</td>
            <td th:text="${pacients.address}">...</td>
            <td th:text="${pacients.gim_arsts.fName} ${pacients.gim_arsts.lName}">...</td>
            <td>
                <form th:action="@{deletePacients}" method="post">
                    <input type="hidden" name="id" th:value="${pacients.id}"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>