<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8"/>
    <title>Pacients</title>
</head>
<body>
<h1>Pacients</h1>
<a th:href="${'/editPacients/'+pacients.id}">Rediģēt</a>
<p th:text="${pacients.pers_code}">
<p th:text="${pacients.fName}">
<p th:text="${pacients.lName}">
<p th:text="${pacients.address}">
<p th:text="${pacients.number}">
<br/><br/>
<h2>Ģimenes ārsts</h2>
<p th:if="${pacients.gim_arsts}!= null" th:text="${pacients.gim_arsts.fName}">
<p th:if="${pacients.gim_arsts}!= null" th:text="${pacients.gim_arsts.lName}">
<p th:if="${pacients.gim_arsts}!= null" th:text="${pacients.gim_arsts.address}">
<p th:if="${pacients.gim_arsts}!= null" th:text="${pacients.gim_arsts.number}">
<div>
    <h2>Apmeklējumi</h2>
    <a th:href="${'/addApmeklejums/'+pacients.id}">Pievienot apmeklējumu</a>

    <table>
        <tr>
            <th>Statuss</th>
            <th>Datums</th>
            <th>Apraksts</th>
            <th>Medmasas vārds</th>
            <th>Uzvārds</th>

        </tr>
        <tr th:each="apmeklejums:${apmeklejumi}">
            <td th:text="${apmeklejums.state}">...</td>
            <td th:text="${apmeklejums.date}">...</td>
            <td th:text="${apmeklejums.description}">...</td>
            <td th:text="${apmeklejums.medmasa}">...</td>
            <td th:text="${apmeklejums.medmasa}">...</td>

        </tr>
    </table>

</div>
</body>
</html>