<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Apmeklejumi</title>
</head>
<body>
<h1>Apmeklejumi</h1>
<br/><br/>
<div>
    <table>
        <tr>
            <th>Datums</th>
            <th>Statuss</th>
            <th>Apraksts</th>
            <th>Pacients</th>
            <th>Medmasa</th>

        </tr>
        <tr th:each="apmeklejums:${apmeklejumi}">
            <td th:text="${apmeklejums.date}">...</td>
            <td th:text="${apmeklejums.state}">...</td>
            <td th:text="${apmeklejums.description}">...</td>
            <td th:text="${apmeklejums.pacients}">...</td>
            <td th:text="${apmeklejums.medmasa}">...</td>
            <td>
                <form th:action="@{deleteApmeklejums}" method="post">
                    <input type="hidden" name="id" th:value="${apmeklejums.id}"/>
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </td>
            <td>
                <form th:if="${apmeklejums.state == 1}" th:action="@{undoApm}" method="post">
                    <input type="hidden" name="id" th:value="${apmeklejums.id}"/>
                    <input type="submit" value="Apstiprinat" class="btn btn-danger"/>
                </form>
            </td>
            <td>
                <form th:if="${apmeklejums.state == 1}" th:action="@{confirmApm}" method="post">
                    <input type="hidden" name="id" th:value="${apmeklejums.id}"/>
                    <input type="submit" value="Apstiprinat" class="btn btn-danger"/>
                </form>
            </td>

        </tr>
    </table>

</div>
</body>
</html>